<!DOCTYPE html>
<html lang="en-US" ng-app="todoApp">

<!-- bower:css -->
<!-- endbower -->
<link rel="stylesheet" href="../web/public/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="../web/public/bower_components/kendo-ui/styles/kendo.common.min.css" />
<link rel="stylesheet" href="../web/public/bower_components/kendo-ui/styles/kendo.default.min.css" />

<!-- inject:css-->
<link rel="stylesheet" href="/public/stylesheets/style.css">
<!-- endinject -->

<!-- bower:js -->
<script src="../web/public/bower_components/jquery/dist/jquery.js"></script>
<script src="../web/public/bower_components/angular/angular.js"></script>
<script src="../web/public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../web/public/bower_components/angular-resource/angular-resource.js"></script>
<script src="../web/public/bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
<!-- endbower -->
<script src="../web/public/bower_components/kendo-ui/js/kendo.angular.min.js"></script>

<!-- inject:js -->
<script src="/public/javascripts/signin.js"></script>
<!-- endinject -->
<body>

<div class="container">
    <form class="form-signin" ng-controller="todoController">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="todo.email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="todo.password">
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" value="remember-me" ng-model="todo.remember_me"> Remember me!
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Sign in</button>
    </form>
</div>

</body>
</html>